@using Spotify.Models.Objecten
@model Spotify.Models.AccountSongID

@if (Model.Account.Music.Playlists.Count == 0)
{
    <li>
        <p>Je hebt nog geen afpseellijsten</p>
    </li>
}
else
{
   
    foreach (Playlist pl in Model.Account.Music.Playlists)
    {
        //kijken of de lijst leeg is
        if (pl.Songs.Count != 0)
        {
            foreach (Song song in pl.Songs)
            {
                //kijken of het song id in de playlist voorkomt
                if (song.ID == @Model.ID)
                {
                    
                }
                else
                {
                    using (@Html.BeginForm("AddSong", "Playlist"))
                    {
                        @Html.Hidden("playlistid", pl.ID)
                        @Html.Hidden("songid", @Model.ID)
                        @:<input type="submit" value="@pl.Name" class="btn btn-default" style="background-color: rgb(40, 40, 40); color: white">
                    }
                }
            }

        }
        else
        {
            using (@Html.BeginForm("AddSong", "Playlist"))
            {
                @Html.Hidden("playlistid", pl.ID)
                @Html.Hidden("songid", @Model.ID)
                @:<input type="submit" value="@pl.Name" class="btn btn-default" style="background-color: rgb(40, 40, 40); color: white">
                }
        }

    }
}
