@using Spotify.Models.Objecten
@model Spotify.Models.AccountSongID

@if (Model.Account.Music.Playlists.Count == 0)
{
    <li>
        <p>Je hebt nog geen afpseellijsten</p>
    </li>
}
else
{
    foreach (Playlist pl in from pl in Model.Account.Music.Playlists where pl.Songs.Count != 0 from song in pl.Songs where song.ID != Model.ID select pl)
    {
        using (@Html.BeginForm("AddSong", "Playlist"))
        {
            @Html.Hidden("playlistid", pl.ID)
            @Html.Hidden("songid", @Model.ID)
            @:<input type="submit" value="@pl.Name" class="btn btn-default" style="background-color: rgb(40, 40, 40); color: white">
        }
    }
}
