<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Sidebar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <h2>Spotify</h2>
        </div>
        <br>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
    <div class="sidebar">
        <ul>
            <li><p>HOOFDVENSTER</p></li>
            <li>@Html.ActionLink("Overzicht", "Index", "Home")</li>
        </ul>
        <br />
        <ul>
            <li>
                <p>JOUW MUZIEK</p>
            </li>
            <li>@Html.ActionLink("Nummers", "Nummers", "Home")</li>
            <br />
            <li>@Html.ActionLink("Albums", "Albums", "Home")</li>
            <br />
            <li>@Html.ActionLink("Artiesten", "Artiesten", "Home")</li>
        </ul>
        @using Spotify.Models.Objecten
        @model Account
        <ul>
            <li>
                <p>AFSPEELLIJSTEN</p>
            </li>
            @foreach (Playlist pl in Model.Music.Playlists)
            {
                <li>@Html.ActionLink(pl.Name, "Playlists", "Home")</li>
                <br/>
            }


        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
